@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

:root {
    --roxo: #674BAF;
    --branco: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--roxo);
    max-width: 1400px;
    margin-top: -14px;
    color: var(--branco);
}

#background {
    position: absolute;
    margin-top: -55px;
}

#logo {
    margin: 70px 0 0 75px;
}

#principal {
    position: relative;
    display: flex;
    margin: 85px 0 0 70px;
    z-index: 1;
    width: 100hv;
}

#principal img {
    max-height: 506px;
}

#principal h1, p, button {
    font-family: 'Poppins', sans-serif;

}

#principal h1 {
    font-weight: bolder;
    font-size: 2.4em;
    line-height: 55px;
    letter-spacing: 2px;
}

#principal p {
    margin-left: 10px;
    font-size: 0.9em;
    margin-top: 20px;
    line-height: 30px;
}

#text {
    margin: 50px;
}

#register {
    width: 190px;
    height: 55px;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 320px;
    color: var(--roxo);
}

footer {
    font-size: 1em;
    display: flex;
    justify-content: end;
    cursor: pointer;
    max-width: 1345px;
    min-width: 404px;
}

footer a {
    color: var(--branco);
    margin: 30px 10px;
}

.borda {
    border: 2px solid var(--branco);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


@media (max-width: 375px){

    body {
        max-width: 757px;
        max-height: 629px ;
    }

    #logo {
        width: 220px;
        margin: 70px 0 0 75px;
    }
    

    #principal {
        flex-direction: column;
        text-align: center;
    }

    #principal h1 {
        width: 400px;
        margin-top: 70px;
        font-size: 1.8em;
        line-height: 35px;
        letter-spacing: 2px;
        margin-left: -35px;
    }

    #principal p {
        margin-left: 10px;
        font-size: 1.2em;
        margin-top: 20px;
        width: 400px;
        font-weight: 400;
        margin-left: -35px;
    }

    #principal img {
        max-width: 403px;
        margin-right: 40px;
    }
    
    #register {
        width: 250px;
        height: 50px;
        margin: 15%;
    }

    footer {
        display: flex;
        justify-content: center;
        margin-left: 80px;
    }

    
}